In [1]:
import pandas as pd

# # Cargar el CSV
# df = pd.read_excel('fallecidos.xlsx')

# # Convertirlo y guardarlo como archivo PKL
# df.to_pickle('fallecidos_covid.pkl')

# print("Conversión completa.")

In [2]:
# data table

linkData="positivos.xlsx"
covid_p = pd.read_excel(linkData)
covid_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   DEPARTAMENTO     1048575 non-null  object
 1   PROVINCIA        1048575 non-null  object
 2   DISTRITO         1048575 non-null  object
 3   EDAD             1048529 non-null  float64
 4   SEXO             1048575 non-null  object
 5   FECHA_RESULTADO  1048446 non-null  float64
dtypes: float64(2), object(4)
memory usage: 48.0+ MB

In [3]:
covid_p.head()

  DEPARTAMENTO  PROVINCIA     DISTRITO  EDAD       SEXO  FECHA_RESULTADO
0       TUMBES     TUMBES       TUMBES  46.0   FEMENINO       20221207.0
1         LIMA       LIMA  JESUS MARIA  69.0   FEMENINO       20230822.0
2   SAN MARTIN  MOYOBAMBA    MOYOBAMBA  55.0   FEMENINO       20240108.0
3     AREQUIPA   CAYLLOMA    COPORAQUE  50.0  MASCULINO       20230824.0
4         LIMA       LIMA  JESUS MARIA  58.0  MASCULINO       20221217.0

In [4]:
# Convertir EDAD a numérico
covid_p['EDAD'] = pd.to_numeric(covid_p['EDAD'], errors='coerce')

# Convertir FECHA_RESULTADO a string y luego a fecha
covid_p['FECHA_RESULTADO'] = covid_p['FECHA_RESULTADO'].astype(str).str.replace('.0', '', regex=False)
covid_p['FECHA_RESULTADO'] = pd.to_datetime(covid_p['FECHA_RESULTADO'], format='%Y%m%d', errors='coerce')

# Separar la fecha en año, mes y día
covid_p['AÑO'] = covid_p['FECHA_RESULTADO'].dt.year
covid_p['MES'] = covid_p['FECHA_RESULTADO'].dt.month
covid_p['DÍA'] = covid_p['FECHA_RESULTADO'].dt.day

# Crear una nueva columna 'P' y asignar el valor "positivos" a todas las observaciones
covid_p['situacion'] = 'positivo'

# Borrar la columna FECHA_RESULTADO
covid_p.drop(columns=['FECHA_RESULTADO'], inplace=True)

# Borrar la columna DISTRITO  
covid_p.drop(columns=['DISTRITO'], inplace=True)

# Convertir AÑO, MES, DÍA y EDAD a enteros
covid_p['AÑO'] = covid_p['AÑO'].astype('Int64')  # Usar 'Int64' para permitir NaN
covid_p['MES'] = covid_p['MES'].astype('Int64')
covid_p['DÍA'] = covid_p['DÍA'].astype('Int64')
covid_p['EDAD'] = covid_p['EDAD'].astype('Int64')

# Verificar los resultados
print(covid_p.head())

  DEPARTAMENTO  PROVINCIA  EDAD       SEXO   AÑO  MES  DÍA situacion
0       TUMBES     TUMBES    46   FEMENINO  2022   12    7  positivo
1         LIMA       LIMA    69   FEMENINO  2023    8   22  positivo
2   SAN MARTIN  MOYOBAMBA    55   FEMENINO  2024    1    8  positivo
3     AREQUIPA   CAYLLOMA    50  MASCULINO  2023    8   24  positivo
4         LIMA       LIMA    58  MASCULINO  2022   12   17  positivo

In [5]:
covid_p.head()

  DEPARTAMENTO  PROVINCIA  EDAD       SEXO   AÑO  MES  DÍA situacion
0       TUMBES     TUMBES    46   FEMENINO  2022   12    7  positivo
1         LIMA       LIMA    69   FEMENINO  2023    8   22  positivo
2   SAN MARTIN  MOYOBAMBA    55   FEMENINO  2024    1    8  positivo
3     AREQUIPA   CAYLLOMA    50  MASCULINO  2023    8   24  positivo
4         LIMA       LIMA    58  MASCULINO  2022   12   17  positivo

In [6]:
# data table

linkData="fallecidos.xlsx"
covid_f = pd.read_excel(linkData)
covid_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220918 entries, 0 to 220917
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_FALLECIMIENTO  220918 non-null  int64
 1   EDAD_DECLARADA       220918 non-null  int64
 2   SEXO                 220918 non-null  object
 3   DEPARTAMENTO         220918 non-null  object
 4   PROVINCIA            220913 non-null  object
dtypes: int64(2), object(3)
memory usage: 8.4+ MB

In [7]:
# Convertir FECHA_FALLECIMIENTO a string y luego a fecha
covid_f['FECHA_FALLECIMIENTO'] = covid_f['FECHA_FALLECIMIENTO'].astype(str)
covid_f['FECHA_FALLECIMIENTO'] = pd.to_datetime(covid_f['FECHA_FALLECIMIENTO'], format='%Y%m%d', errors='coerce')

# Separar la fecha en año, mes y día
covid_f['AÑO'] = covid_f['FECHA_FALLECIMIENTO'].dt.year
covid_f['MES'] = covid_f['FECHA_FALLECIMIENTO'].dt.month
covid_f['DÍA'] = covid_f['FECHA_FALLECIMIENTO'].dt.day

# Crear una nueva columna 'P' y asignar el valor "positivos" a todas las observaciones
covid_f['situacion'] = 'fallecido'

# Cambiar el nombre de la columna EDAD_DECLARADA a EDAD
covid_f.rename(columns={'EDAD_DECLARADA': 'EDAD'}, inplace=True)

# Borrar la columna FECHA_FALLECIMIENTO si ya no es necesaria
covid_f.drop(columns=['FECHA_FALLECIMIENTO'], inplace=True)

# Verificar los resultados
print(covid_f.head())

   EDAD       SEXO DEPARTAMENTO PROVINCIA   AÑO  MES  DÍA  situacion
0    63  MASCULINO       TUMBES    TUMBES  2022    2   19  fallecido
1    74  MASCULINO       TUMBES    TUMBES  2021    5   29  fallecido
2    72   FEMENINO        TACNA     TACNA  2021    6   23  fallecido
3    85  MASCULINO       TUMBES    TUMBES  2021    8   24  fallecido
4    46  MASCULINO        TACNA     TACNA  2021    6   27  fallecido

In [8]:
covid_f.head()

   EDAD       SEXO DEPARTAMENTO PROVINCIA   AÑO  MES  DÍA  situacion
0    63  MASCULINO       TUMBES    TUMBES  2022    2   19  fallecido
1    74  MASCULINO       TUMBES    TUMBES  2021    5   29  fallecido
2    72   FEMENINO        TACNA     TACNA  2021    6   23  fallecido
3    85  MASCULINO       TUMBES    TUMBES  2021    8   24  fallecido
4    46  MASCULINO        TACNA     TACNA  2021    6   27  fallecido

In [9]:
# Concatenar ambos DataFrames
merged_data = pd.concat([covid_p, covid_f], ignore_index=True)

# Verificar los resultados del merge
print(merged_data.head())
print(merged_data.info())

  DEPARTAMENTO  PROVINCIA  EDAD       SEXO   AÑO  MES  DÍA situacion
0       TUMBES     TUMBES    46   FEMENINO  2022   12    7  positivo
1         LIMA       LIMA    69   FEMENINO  2023    8   22  positivo
2   SAN MARTIN  MOYOBAMBA    55   FEMENINO  2024    1    8  positivo
3     AREQUIPA   CAYLLOMA    50  MASCULINO  2023    8   24  positivo
4         LIMA       LIMA    58  MASCULINO  2022   12   17  positivo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269493 entries, 0 to 1269492
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DEPARTAMENTO  1269493 non-null  object
 1   PROVINCIA     1269488 non-null  object
 2   EDAD          1269447 non-null  Int64
 3   SEXO          1269493 non-null  object
 4   AÑO           1269364 non-null  Int64
 5   MES           1269364 non-null  Int64
 6   DÍA           1269364 non-null  Int64
 7   situacion     1269493 non-null  object
dtypes: Int64(4), object(4)
memory usage: 82.3+ MB
None

In [11]:


# Suponiendo que merged_data es el DataFrame que quieres guardar

# Guardar el DataFrame como un archivo pickle
merged_data.to_pickle('merged_data.pkl')

# Guardar el DataFrame como un archivo Excel
#merged_data.to_excel('merged_data.xlsx', index=False)

print("Archivos guardados como 'merged_data.pkl' y 'merged_data.xlsx'.")

Archivos guardados como 'merged_data.pkl' y 'merged_data.xlsx'.

In [12]:
# data table

linkData1="merged_data.pkl"
covid = pd.read_pickle(linkData1)
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269493 entries, 0 to 1269492
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DEPARTAMENTO  1269493 non-null  object
 1   PROVINCIA     1269488 non-null  object
 2   EDAD          1269447 non-null  Int64
 3   SEXO          1269493 non-null  object
 4   AÑO           1269364 non-null  Int64
 5   MES           1269364 non-null  Int64
 6   DÍA           1269364 non-null  Int64
 7   situacion     1269493 non-null  object
dtypes: Int64(4), object(4)
memory usage: 82.3+ MB

In [13]:
covid.head()

  DEPARTAMENTO  PROVINCIA  EDAD       SEXO   AÑO  MES  DÍA situacion
0       TUMBES     TUMBES    46   FEMENINO  2022   12    7  positivo
1         LIMA       LIMA    69   FEMENINO  2023    8   22  positivo
2   SAN MARTIN  MOYOBAMBA    55   FEMENINO  2024    1    8  positivo
3     AREQUIPA   CAYLLOMA    50  MASCULINO  2023    8   24  positivo
4         LIMA       LIMA    58  MASCULINO  2022   12   17  positivo